main {
    width: 100%;
}

.tools {
    width: 95%;
    left: 2.5%;
    max-width: 100%;
}

button {
    background-color: lightgoldenrodyellow;
    margin-left: 5px;
}

button img {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}

.game {
    width: 900px;
    margin: 0 auto;
    margin-top: 105px;
    padding: 0;
}
 
.hand {
    border: none;
    width: 40px;
    height: 200px;
    margin: 0;
}

.hand-label {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
}

.hand-piece {
    border: none;
    background: none;
    font-size: 36px;
    width: auto;
    height: auto;
    margin: 0;
    display: inline-block;
}

.gote {
    float: left;
    margin-right: -75px;
    margin-top: 50px; /* variable */
    transform: rotate(180deg);
}

.sente {
    float: right;
    margin-top: 582px; /* variable */
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Noto Sans JP", sans-serif;
    padding: 0;
}

table {
    margin: 0;
    display: inline-table;
    table-layout: fixed;
    border: none;
    width: 675px;
    height: 675px;
    font-size: 18px;
    text-align: center;
}

tr {
    height: 82px;
}

th {
    width: 75px;
    border: none;
    border-bottom: 3px solid black;
    font-size: 18px;
}

td {
    font-size: 56px;
    margin: 0;
}

.clabels > th, .rlabel {
    font-size: 32px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: normal;
}

.rlabel {
    border-left: 3px solid black;
    padding-left: 15px;
}

.left-edge {
    border-left: 3px solid black;
}

.bottom-edge {
    border-bottom: 3px solid black;
}