html {

}

body {
    margin: 10%;
}

nav {

}

main {
    text-align: center;
    width: 80%;
}

button {
    font-size: 56px;
}

button:hover {
    cursor: pointer;
}

table, th, td {
    border: 5px dashed black;
    border-collapse: collapse;
}

table {
    margin: 0 auto;
    border: 5px solid black;
    width: 415px;
    height: 415px;
    font: Arial;
    font-size: 24px;
    text-align: center;
}

tr {
    height: 30%;
}

th {
    width: 30%;
}

td {
    height: 100px;
    width: 125px;
    font-size: 84px;
    margin: 0;
}

td:hover {
    cursor: pointer;
}

.clabels {
    height: 25px;
}

.rowlabel {
    border: none;
    border-left: 5px dashed black;
    font-size: 24px;
    font-weight: bold;
    width: 40px;
    padding: 10px;
}

.row-label td {
    border: none;
}