body {
    margin: 10%;
}

main {
    text-align: center;
    width: 80%;
}

button {
    font-size: 56px;
    border: 3px solid gray;
    border-radius: 5px;
    background-color: rgb(239, 239, 239);
    margin: 0 20px 0 20px;
}

button:hover,
button:focus {
    cursor: pointer;
    border-color: red;
    outline: none;
}

table, th, td {
    border: 5px dashed black;
    border-collapse: collapse;
}

table {
    margin: 0 auto;
    border: 5px solid black;
    width: 415px;
    height: 415px;
    font: Arial;
    font-size: 24px;
    text-align: center;
}

tr {
    height: 30%;
}

th {
    width: 30%;
    border: 5px solid black;
    font-size: 24px;
    font-weight: bold;
}

td {
    height: 100px;
    width: 125px;
    font-size: 84px;
    margin: 0;
}

td:hover,
td:focus {
    cursor: pointer;
    background-color: lightgray;
}

.clabels {
    height: 25px;
}

.rlabels {
    width: 25px;
}